# Data Cleaning

In [1]:
import pandas as pd

### 1.1 Loading the data into dataframes

In [2]:
companies=pd.read_csv('C:/Users/Administrator/Desktop/pandas/Teclov/companies.txt',encoding='ansi',delimiter='\t')
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [3]:
rounds2=pd.read_csv('C:/Users/Administrator/Desktop/pandas/Teclov/rounds2.csv',encoding='ansi')
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/Ã”ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

### 1.2 Unique companies present in rounds2 and companies

### For companies

In [4]:
companyname=companies['permalink'].apply(lambda x:x.replace('/Organization/',''))
companyname=companyname.str.lower()

In [5]:
companies['Company_Name']=companyname

In [6]:
companies['Company_Name'].nunique()

66368

In [7]:
companies

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Company_Name
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,-fame
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,-qounter
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,-the-one-of-them-inc-
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,0-6-com
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,004-technologies
...,...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN,zznode-science-and-technology-co-ltd
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,zzzzapp-com
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,ãeron
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,ã”asys-2
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic

### For rounds2

In [8]:
sr=rounds2['company_permalink'].apply(lambda x:x.replace('/organization/',''))
company_name=sr.apply(lambda x:x.replace('/ORGANIZATION/',''))
company_name=company_name.str.lower()

In [9]:
rounds2['Company_Name']=company_name

In [10]:
rounds2['Company_Name'].nunique()

66368

In [11]:
rounds2

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Company_Name
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,-fame
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,-qounter
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,-qounter
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,-the-one-of-them-inc-
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6-com
...,...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,zzzzapp-com
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,zzzzapp-com
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,ãeron
114947,/ORGANIZATION/Ã”ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0,ã”asys-2
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic

In [12]:
rounds2['Company_Name'][~rounds2['Company_Name'].isin(companies['Company_Name'])].count()

0

### Merging the two data frames

In [13]:
master_frame=pd.merge(companies,rounds2,how='inner')
master_frame

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Company_Name,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,-fame,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,-qounter,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,-qounter,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,-the-one-of-them-inc-,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,0-6-com,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114944,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,zzzzapp-com,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,zzzzapp-com,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,ãeron,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,ã”asys-2,/ORGANIZATION/Ã”ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [14]:
master_frame.shape

(114949, 17)

# Problem 2: Funding Type Analysis

## Part-1

In [15]:
import numpy as np
from scipy import stats
a=master_frame[(master_frame['funding_round_type']=='angel')|(master_frame['funding_round_type']=='seed')|(master_frame['funding_round_type']=='venture')|(master_frame['funding_round_type']=='private_equity')]
a.groupby('funding_round_type')['raised_amount_usd'].agg({'funding_round_type':stats.mode})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  after removing the cwd from sys.path.

                        funding_round_type
funding_round_type
angel                  ([500000.0], [276])
private_equity       ([100000000.0], [67])
seed                 ([1000000.0], [1065])
venture             ([10000000.0], [1809])


### VENTURE investment type is most suitable for Teclov

## Part-2

In [16]:
invest=master_frame[(master_frame['raised_amount_usd']>5000000)&(master_frame['raised_amount_usd']<15000000)]
x=invest[(invest['funding_round_type']=='angel')|(invest['funding_round_type']=='seed')|(invest['funding_round_type']=='venture')|(invest['funding_round_type']=='private_equity')]
x.groupby('funding_round_type')['raised_amount_usd'].agg({'funding_round_type':stats.mode})
#venture is the most suitable invesment type

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  This is separate from the ipykernel package so we can avoid doing imports until

                        funding_round_type
funding_round_type
angel                  ([10000000.0], [9])
private_equity        ([10000000.0], [42])
seed                   ([6000000.0], [17])
venture             ([10000000.0], [1809])

# Problem-3 :Country Analysis

In [17]:
#top 9 countries receiving the highest total funding
invest=master_frame[(master_frame['raised_amount_usd']>5000000)&(master_frame['raised_amount_usd']<15000000)]
venture=invest[invest['funding_round_type']=='venture']
country=venture.groupby('country_code')['raised_amount_usd'].agg(np.sum).sort_values(ascending=False).head(9)
country

country_code
USA    8.960135e+10
GBR    4.941844e+09
CHN    3.861561e+09
CAN    3.192010e+09
ISR    2.250306e+09
IND    2.186544e+09
FRA    2.022425e+09
DEU    1.635026e+09
CHE    5.588196e+08
Name: raised_amount_usd, dtype: float64

In [18]:
top9=pd.DataFrame(country)
top9

              raised_amount_usd
country_code
USA                8.960135e+10
GBR                4.941844e+09
CHN                3.861561e+09
CAN                3.192010e+09
ISR                2.250306e+09
IND                2.186544e+09
FRA                2.022425e+09
DEU                1.635026e+09
CHE                5.588196e+08

1. Top English-speaking country- USA
2. Second English-speaking country- Great Britain
3. Third English-speaking country- Canada

## Problem-4: Sector Analysis

In [19]:
sec=master_frame['category_list'].str.split('|').str[0]
sec

0                         Media
1         Application Platforms
2         Application Platforms
3                          Apps
4                   Curated Web
                  ...
114944              Advertising
114945              Advertising
114946                      NaN
114947     Consumer Electronics
114948           Consumer Goods
Name: category_list, Length: 114949, dtype: object

In [20]:
mapping=pd.read_csv('C:/Users/Administrator/Desktop/pandas/Teclov/mapping.csv')
mapping

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

In [21]:
mapping.drop('Blanks',axis=1)

,category_list,Automotive & Sports,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,0,0,0,0,0,0,0
1,3D,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
683,Wholesale,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,1,0,0,0,0,0
685,Wireless,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,1,0

In [22]:
mapping1=mapping.melt(id_vars='category_list',value_vars=['Automotive & Sports','Cleantech / Semiconductors','Entertainment','Health','Manufacturing','News, Search and Messaging','Others','Social, Finance, Analytics, Advertising'])
mapping_category=mapping1[mapping1['value']==1]
mapping_category.drop('value',axis=1)

          category_list                                 variable
8      Adventure Travel                      Automotive & Sports
14            Aerospace                      Automotive & Sports
45                 Auto                      Automotive & Sports
46      Automated Kiosk                      Automotive & Sports
47           Automotive                      Automotive & Sports
...                 ...                                      ...
5433  Social Recruiting  Social, Finance, Analytics, Advertising
5434  Social Television  Social, Finance, Analytics, Advertising
5435      Social Travel  Social, Finance, Analytics, Advertising
5446    Stock Exchanges  Social, Finance, Analytics, Advertising
5479    Venture Capital  Social, Finance, Analytics, Advertising

[687 rows x 2 columns]

# Problem-5: Sector Analysis 2

### For country-USA

In [23]:
invest=master_frame[(master_frame['raised_amount_usd']>5000000)&(master_frame['raised_amount_usd']<15000000)]
con=invest[(invest['country_code']=='USA')&(invest['funding_round_type']=='venture')]
D1=pd.merge(con,mapping_category)
D1

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Company_Name,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,variable,value
0,/Organization/1366-Technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,1366-technologies,/organization/1366-technologies,/funding-round/786f61aa9866f4471151285f5c56be36,venture,A,03-02-2010,5150000.0,Manufacturing,1
1,/Organization/1366-Technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,1366-technologies,/ORGANIZATION/1366-TECHNOLOGIES,/funding-round/82ace97530965cd2be8f262836b43ff5,venture,A,27-03-2008,12400000.0,Manufacturing,1
2,/Organization/1366-Technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,1366-technologies,/organization/1366-technologies,/funding-round/ab99fc5a53717b1b53fd6aa5687c5fa9,venture,B,16-12-2010,6000000.0,Manufacturing,1
3,/Organization/908-Devices,908 Devices,http://908devices.com,Manufacturing,operating,USA,MA,Boston,Boston,01-01-2012,908-devices,/ORGANIZATION/908-DEVICES,/funding-round/6cf034e663f0c22047d4a82a499a685b,venture,B,27-08-2013,7000000.0,Manufacturing,1
4,/Organization/908-Devices,908 Devices,http://908devices.com,Manufacturing,operating,USA,MA,Boston,Boston,01-01-2012,908-devices,/ORGANIZATION/908-DEVICES,/funding-round/d0b6f0eb32eb1b13e776213580bccd7a,venture,C,06-05-2015,11600000.0,Manufacturing,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,/Organization/Vulcun-2,VULCUN,http://www.vulcun.com,Fantasy Sports,operating,USA,CA,SF Bay Area,San Francisco,01-05-2011,vulcun-2,/organization/vulcun-2,/funding-round/038c646ed6d1dda83e95caea4d8ad46e,venture,A,09-04-2015,12000000.0,Entertainment,1
4992,/Organization/Walker-Company-Brands,Walker & Company Brands,http://walkerandcompany.com,Beauty,operating,USA,CA,SF Bay Area,Palo Alto,18-04-2013,walker-company-brands,/ORGANIZATION/WALKER-COMPANY-BRANDS,/funding-round/2a4440bac96b28cb2bdcb89bdb5a5e09,venture,A,17-06-2014,6900000.0,Health,1
4993,/Organization/Washio,Washio,http://www.getwashio.com,Service Industries,operating,USA,CA,Los Angeles,Los Angeles,01-01-2013,washio,/ORGANIZATION/WASHIO,/funding-round/59026d26012c63b42fa2984c8f3c41ec,venture,A,09-06-2014,10500000.0,Others,1
4994,/Organization/X-Ai,x.ai,http://x.ai,B2B,operating,USA,NY,New York City,New York,14-04-2014,x-ai,/organization/x-ai,/funding-round/c6a70243acec1d18d1261c23d65750da,venture,A,05-01-2015,9200000.0,"Social, Finance, Analytics, Advertising",1
4995,/Organization/Xosoft,XOSoft,http://www.xosoft.com,Data Security,acquired,USA,MA,Boston,Burlington,01-01-1999,xosoft,/organization/xosoft,/funding-round/317496619b4d2eb1622477dda397a6df,venture,D,07-07-2004,9000000.0,"Social, Finance, Analytics, Advertising",1

In [24]:
tot_investment1=D1.groupby('variable')['raised_amount_usd'].agg(np.size).sort_values(ascending=False)
tot_investment1

variable
Others                                     1728.0
Cleantech / Semiconductors                 1494.0
Health                                      498.0
News, Search and Messaging                  449.0
Manufacturing                               353.0
Social, Finance, Analytics, Advertising     281.0
Entertainment                               158.0
Automotive & Sports                          35.0
Name: raised_amount_usd, dtype: float64

In [25]:
company_inv=D1.groupby(['variable','Company_Name'])['Company_Name'].agg(np.size).sort_values(ascending=False)
company_inv

variable                                 Company_Name
Cleantech / Semiconductors               tigo-energy              7
Health                                   endogastric-solutions    6
Social, Finance, Analytics, Advertising  choicestream             6
Cleantech / Semiconductors               scienergy                6
News, Search and Messaging               sebacia                  5
                                                                 ..
Others                                   aplicor                  1
                                         anthology-solutions      1
                                         anodyne-health           1
                                         anchiva-systems          1
Automotive & Sports                      additech                 1
Name: Company_Name, Length: 3713, dtype: int64

In [26]:
tot_amount1=D1.groupby('variable').agg({'raised_amount_usd':np.sum}).sort_values(ascending=False,by='raised_amount_usd')
tot_amount1

                                         raised_amount_usd
variable
Others                                        1.554731e+10
Cleantech / Semiconductors                    1.357599e+10
Health                                        4.490750e+09
News, Search and Messaging                    3.865548e+09
Manufacturing                                 3.218865e+09
Social, Finance, Analytics, Advertising       2.484532e+09
Entertainment                                 1.378120e+09
Automotive & Sports                           2.862028e+08

### For Country-GRB

In [27]:
con1=invest[(invest['country_code']=='GBR')&(invest['funding_round_type']=='venture')]
D2=pd.merge(con1,mapping_category)
D2

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Company_Name,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,variable,value
0,/Organization/Abcodia,Abcodia,http://abcodia.com,Biotechnology,operating,GBR,H9,London,London,01-01-2010,abcodia,/organization/abcodia,/funding-round/3d20c23d203134ed86c0d1b2bec288b2,venture,B,18-05-2015,8259067.0,Cleantech / Semiconductors,1
1,/Organization/Acacia-Pharma,Acacia Pharma,http://www.acaciapharma.com,Biotechnology,operating,GBR,C3,London,Cambridge,01-01-2006,acacia-pharma,/organization/acacia-pharma,/funding-round/26eac8a3875e1a7bc68d36ceb7a71b05,venture,A,31-03-2011,10000000.0,Cleantech / Semiconductors,1
2,/Organization/Apitope,Apitope,http://apitope.com/,Biotechnology,operating,GBR,B7,Bristol,Bristol,01-01-2002,apitope,/organization/apitope,/funding-round/2efce6629e8d414150d6ea3051688b6a,venture,B,29-09-2015,13456610.0,Cleantech / Semiconductors,1
3,/Organization/Aquapharm-Biodiscovery,Aquapharm Biodiscovery,http://www.aquapharm.co.uk,Biotechnology,closed,GBR,NaN,NaN,NaN,01-01-2000,aquapharm-biodiscovery,/ORGANIZATION/AQUAPHARM-BIODISCOVERY,/funding-round/9596210901c76ba1bc8d6400662dd3c0,venture,C,05-04-2010,6400000.0,Cleantech / Semiconductors,1
4,/Organization/Aquapharm-Biodiscovery,Aquapharm Biodiscovery,http://www.aquapharm.co.uk,Biotechnology,closed,GBR,NaN,NaN,NaN,01-01-2000,aquapharm-biodiscovery,/organization/aquapharm-biodiscovery,/funding-round/aa7ccd58fc7608eb17c57f4029191e1a,venture,B,26-07-2007,8216758.0,Cleantech / Semiconductors,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,/Organization/Redeem,Redeem,http://www.redeem.co.uk/,Environmental Innovation,operating,GBR,NaN,NaN,NaN,NaN,redeem,/ORGANIZATION/REDEEM,/funding-round/4feb3c2f027082484fa97f8a24d3b5fa,venture,NaN,18-09-2014,13004958.0,Cleantech / Semiconductors,1
314,/Organization/Sandwell-Community-Caring-Trust-...,Sandwell Community Caring Trust (SCCT),http://sandwellcct.org.uk,Nonprofits,operating,GBR,A7,Birmingham,Birmingham,01-01-1997,sandwell-community-caring-trust-scct,/organization/sandwell-community-caring-trust-...,/funding-round/34f1c49f57ac75321ba58ce429cfe6e3,venture,NaN,13-08-2013,6515581.0,Others,1
315,/Organization/Valldata-Services,Valldata Services,http://www.valldata.co.uk,Nonprofits,operating,GBR,P8,GBR - Other,Melksham,NaN,valldata-services,/ORGANIZATION/VALLDATA-SERVICES,/funding-round/244d6e5baba7c61f4b72ad3eb8b0d591,venture,NaN,29-01-2011,10351376.0,Others,1
316,/Organization/Serentis-Ltd,Serentis,http://serentis-pharma.com/,Pharmaceuticals,operating,GBR,C3,London,Cambridge,NaN,serentis-ltd,/organization/serentis-ltd,/funding-round/b84c765d3de73ad46ccdfdb1dd28c3a7,venture,A,12-08-2008,10133972.0,Health,1
317,/Organization/Spinvox,SpinVox,http://www.spinvox.com,Messaging,acquired,GBR,B9,London,Marlow,NaN,spinvox,/organization/spinvox,/funding-round/781cb01827420babeb2d95d9008ba2e1,venture,NaN,03-08-2009,5500000.0,"News, Search and Messaging",1

In [28]:
tot_investment2=D2.groupby('variable')['raised_amount_usd'].agg(np.size).sort_values(ascending=False)
tot_investment2

variable
Cleantech / Semiconductors                 104.0
Others                                      95.0
News, Search and Messaging                  30.0
Manufacturing                               27.0
Entertainment                               27.0
Social, Finance, Analytics, Advertising     20.0
Health                                      12.0
Automotive & Sports                          3.0
Name: raised_amount_usd, dtype: float64

In [29]:
tot_amount2=D2.groupby('variable').agg({'raised_amount_usd':np.sum}).sort_values(ascending=False,by='raised_amount_usd')
tot_amount2

                                         raised_amount_usd
variable
Cleantech / Semiconductors                     917829246.0
Others                                         816205523.0
News, Search and Messaging                     269140008.0
Entertainment                                  245461478.0
Manufacturing                                  237049312.0
Social, Finance, Analytics, Advertising        173673526.0
Health                                         107740187.0
Automotive & Sports                             29352177.0

In [30]:
company_inv2=D2.groupby(['variable','Company_Name'])['Company_Name'].agg(np.size).sort_values(ascending=False)
company_inv2

variable                    Company_Name
Others                      electric-cloud    4
                            enigmatic         3
Cleantech / Semiconductors  eusa-pharma       3
Manufacturing               antenova          3
News, Search and Messaging  ubiquisys         3
                                             ..
                            wecomm            1
                            spinvox           1
                            snaptu            1
                            red-m-group       1
Automotive & Sports         prodrive          1
Name: Company_Name, Length: 264, dtype: int64

## For Country- CAN

In [31]:
con2=invest[(invest['country_code']=='CAN')&(invest['funding_round_type']=='venture')]
D3=pd.merge(con2,mapping_category)
D3

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Company_Name,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,variable,value
0,/Organization/2Catalyze,2Catalyze,NaN,Software,operating,CAN,ON,Toronto,Toronto,01-01-2008,2catalyze,/organization/2catalyze,/funding-round/d26e31e33cf217e2ed888eafc54febaf,venture,NaN,25-08-2010,6785876.0,Others,1
1,/Organization/360Incentives-Com,360incentives.com,http://www.360incentives.com,Software,operating,CAN,ON,Toronto,Whitby,01-01-2008,360incentives-com,/organization/360incentives-com,/funding-round/8712b14c58f7066491d136673931ed3e,venture,NaN,15-01-2013,7650000.0,Others,1
2,/Organization/Beyond-Compliance,Beyond Compliance,http://www.beyondcompliance.com,Software,operating,CAN,AB,Calgary,Calgary,01-01-2000,beyond-compliance,/ORGANIZATION/BEYOND-COMPLIANCE,/funding-round/a3dbca11d155e4919aa06bc04368f47d,venture,NaN,26-11-2007,7000000.0,Others,1
3,/Organization/Camilion-Solutions,Camilion Solutions,http://www.support.camilion.com/,Software,operating,CAN,ON,Toronto,Markham,01-01-2000,camilion-solutions,/organization/camilion-solutions,/funding-round/9988fe95e60937934636fcc65f920a6e,venture,B,06-03-2003,5424403.0,Others,1
4,/Organization/Canadian-Digital-Media-Network,Canadian Digital Media Network,http://cdmn.ca,Software,operating,CAN,ON,Toronto,Toronto,01-01-2009,canadian-digital-media-network,/organization/canadian-digital-media-network,/funding-round/22ee6ef0fc787f7ffdd868c4aac19a3c,venture,NaN,13-11-2013,8750000.0,Others,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,/Organization/Southgobi-Resources-Ltd,SouthGobi Resources,http://southgobi.com,Mining Technologies,operating,CAN,BC,Vancouver,Vancouver,NaN,southgobi-resources-ltd,/ORGANIZATION/SOUTHGOBI-RESOURCES-LTD,/funding-round/0acf5044da19f869209c07ecef86e6ce,venture,NaN,01-12-2014,9000000.0,Cleantech / Semiconductors,1
214,/Organization/Sunselect-Produce,SunSelect Produce,http://sunselect.ca,Hospitality,operating,CAN,BC,BC - Other,Aldergrove,01-06-1985,sunselect-produce,/organization/sunselect-produce,/funding-round/685d3006f376322361e0c2efe2c1560d,venture,NaN,07-10-2013,7000000.0,Others,1
215,/Organization/Topigen-Pharmaceuticals,Topigen Pharmaceuticals,http://www.topigen.com/,Pharmaceuticals,acquired,CAN,QC,Montreal,MontrÃ©al,NaN,topigen-pharmaceuticals,/organization/topigen-pharmaceuticals,/funding-round/cbdafc198cd035664d30cd107e7aa913,venture,B,10-10-2005,5097865.0,Health,1
216,/Organization/Vogogo,vogogo,http://www.vogogo.com,Curated Web,ipo,CAN,AB,Calgary,Calgary,24-01-2008,vogogo,/organization/vogogo,/funding-round/3740b4015651f9b74ec47f494708d2f9,venture,A,05-08-2014,8500000.0,"News, Search and Messaging",1
217,/Organization/Vogogo,vogogo,http://www.vogogo.com,Curated Web,ipo,CAN,AB,Calgary,Calgary,24-01-2008,vogogo,/ORGANIZATION/VOGOGO,/funding-round/496044a02427b992a7d59e1e27ac072d,venture,B,24-06-2015,12500000.0,"News, Search and Messaging",1

In [32]:
tot_investment3=D3.groupby('variable')['raised_amount_usd'].agg(np.size).sort_values(ascending=False)
tot_investment3

variable
Cleantech / Semiconductors                 82.0
Others                                     81.0
News, Search and Messaging                 17.0
Manufacturing                              16.0
Health                                     11.0
Social, Finance, Analytics, Advertising     8.0
Entertainment                               3.0
Name: raised_amount_usd, dtype: float64

In [33]:
tot_amount3=D3.groupby('variable').agg({'raised_amount_usd':np.sum}).sort_values(ascending=False,by='raised_amount_usd')
tot_amount3

                                         raised_amount_usd
variable
Cleantech / Semiconductors                     755032123.0
Others                                         701944621.0
News, Search and Messaging                     147119096.0
Manufacturing                                  124582240.0
Health                                          93089714.0
Social, Finance, Analytics, Advertising         77430000.0
Entertainment                                   23110000.0

In [34]:
company_inv3=D3.groupby(['variable','Company_Name'])['Company_Name'].agg(np.size).sort_values(ascending=False)
company_inv3

variable                    Company_Name
Cleantech / Semiconductors  ostara                            4
                            fresco-microchip                  4
                            wavesat                           3
                            engene                            3
                            enbala-power-networks             3
                                                             ..
Others                      canadian-digital-media-network    1
                            camilion-solutions                1
                            builddirect                       1
                            blueprint-software-systems        1
Cleantech / Semiconductors  alethia-biotherapeutics           1
Name: Company_Name, Length: 173, dtype: int64

###  1. Total number of investments 
- Country-1: USA:4996
- Country-2: GBR:318
- Country-3: CAN:218

### 2.Total amount of investment 
- Country-1: USA:
- Country-2: GBR:
- Country-3: CAN:

###  3. Top sector (based on count of investments)
- Country-1: USA:-Others
- Country-2: GBR:-Cleantech/Semiconductors
- Country-3: CAN:-Cleantech/Semiconductors
 
###  4. Second-best sector (based on count of investments)
- Country-1: USA:-Cleantech/Semiconductors
- Country-2: GBR:-Others
- Country-3: CAN:-Others
 
### 5. Third-best sector (based on count of investments)
- Country-1: USA:-Health
- Country-2: GBR:-News, Search and Messaging
- Country-3: CAN:-News, Search and Messaging
 
 ### 6.  Number of investments in the top sector 
- Country-1: USA:1728
- Country-2: GBR:104
- Country-3: CAN:82

### 7.  Number of investments in the second-best sector
- Country-1: USA:1494
- Country-2: GBR:95
- Country-3: CAN:81

### 8.  Number of investments in the third-best sector 
- Country-1: USA:498
- Country-2: GBR:30
- Country-3: CAN:17

### 9.  For the top sector count-wise (point 3), which company received the highest investment?
- Country-1: USA:-Others: Company:-integrien
- Country-2: GBR:-Cleantech/Semiconductors: Company:- eusa-pharma
- Country-3: CAN:-Cleantech/Semiconductors: Company:- ostara
 
### 10.  For the second-best sector count-wise (point 4), which company received the highest investment?
- Country-1: USA:-Cleantech/Semiconductors: Company:- tigo-energy
- Country-2: GBR:-Others: Company:- electric-cloud
- Country-3: CAN:-Others: COmpany:- newstep